<home>
    <head>
        <title> <%= title %> </title>
    </head>
    <body>
        <h1>TODO APP</h1>
        <form action="post">
            <div>
                <label for = "description">DESCRIPTION</label>
                <input type="text" id="description" placeholder="What do you need to do?" required>
            </div>
            <div>
                <label for="category">CATEGORTY</label>
                <select id="category" placeholder="Choose A Category" required>
                    <option value="" disabled selected hidden>Choose a Category</option>
                    <option value="">Personal</option>
                    <option value="">Work</option>
                    <option value="">School</option>
                    <option value="">Cleaning</option>
                    <option value="">Other</option>
                </select>
                <label for="date">DUE DATE</label>
                <input type="date" id="date" required>
            </div>
            <div>
                <button>ADD TASK</button>
                <button>DELETE TASKS</button>
            </div>
        </form>
        <section id="display">

        </section>
    </body>
</home>